# [code_style]-[BEGIN]
# Pre-commit hook.
pre-commit==2.20.0
# Upgrade syntax.
pyupgrade==3.3.0
# Formatter. Apply codestyle.
black==22.10.0
# Check codestyle.
flake8==6.0.0
# Removes unused imports and unused variables.
autoflake==2.0.0
# [code_style]-[END]

# Requests
requests==2.28.1

# Generate names
faker==15.3.4

# Tests
pytest==7.2.0
pytest-benchmark==4.0.0


aiohttp[speedups]==3.8.3

beautifulsoup4==4.11.1